.header-Secundario{
    position: relative;
    width: 100vw;
    background-color: #005387;
    display: flex;
    flex-wrap: wrap;
    flex: row;
    justify-content: center;
}

.banner-imagen {
    padding-top: 2px;
    object-fit: cover;
    width: 100vw;
    height:440px;
}

.titulo-centroBanner{
    font-size: 2.313rem;
    height: 3.9em;
    display: flex;
    color: #ffffff;
    position:absolute;
    height: 0;
    top: 6em;
    align-items: center;
    padding-left: 10vw;
}

.tramites-Links, .links-reclamos-banner:visited{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    color: #ffffff;
    height: auto;
}

.barra-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 16px;
    
}

.historial-reclamos{
    border-left: solid 1px;
    padding-left: 20px;
}