.button_yellow {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    width: 11vmax;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 3px rgba(160, 160, 160, 0.5);
    background-color: #fdd306;
    cursor: pointer;
}

.contenedor-botones-inicio-register {
    display: flex;
    flex-wrap: wrap;
    flex : row;
    margin-left: auto;
    margin-top: auto;
    padding-bottom: 15px;
    padding-right: 50px;
    gap: 15px;
}

.contenedor-boton{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 5px;
}