.contenedor{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 50px;
}

.contenedor2{
    align-items:center;
    justify-content: center;
}

.text{
    padding-top: 15px;
    size: 11px;
}

.text-area{
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    height: 100px;
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 5px;
}

.contenedor-login{
    align-items:center;
    justify-content: center;
    padding: 40px 5vmax 40px 5vmax;
    width: 50vmin;
}

.contenedor-boton{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 5px;
    width: 100%;
}

button {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 3px rgba(160, 160, 160, 0.5);
    background-color: #fdd306;
    cursor: pointer;
}

.otras-opciones, .otras-opciones:visited{
    display: flex;
    padding: 15px 30px 30px 30px;
    align-items:center;
    justify-content: center;
    text-decoration-color: #0074b5;
    color: #0074b5;
    font-size: 14px;
    text-decoration-line: none;
}

.label-alert {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: red;
}

